<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title>Appoinments</title>
</head>

<header>
    <%- include('partials/header'); %>
    <%- include('partials/functions'); %>
</header>

<body>
    <div class="BP">
        <h1>Buisness Performance</h1>
        <table>
            <tr>
                <td>Ongoing Appoinments</td>
                <td>:</td>
                <td id="OA"></td>
            </tr>
            <tr>
                <td>Pending Appoinments</td>
                <td>:</td>
                <td id="PA"></td>
            </tr>
            <tr>
                <td>Completed Appoinments</td>
                <td>:</td>
                <td id="CA"></td>
            </tr>
            <tr>
                <td>Rejected Appoinments</td>
                <td>:</td>
                <td id="RA"></td>
            </tr>
        </table>
    </div>

   <div class="spb1">
        <button class="spb1i" onclick="openBooking(event, 'Ongoing')">Ongoing</button>
        <button class="spb1i" onclick="openBooking(event, 'Pending')">Pending</button>
        <button class="spb1i" onclick="openBooking(event, 'Completed')">Completed</button>
        <button class="spb1i" onclick="openBooking(event, 'Rejected')">Rejected</button>
   </div>

    <div id="Ongoing" class="spb2">
        <table>
            <div class="note">
                <h1>Note</h1>
                <p>Maske sure to verify the attended appoinments within 24 hours. If not they will be considered as rejected appoinments</p>
            </div>
            
            <tr>
                <th>ID</th>
                <th>Customer</th>
                <th>Event</th>
                <th>Date</th>
                <th>Time</th>
                <th>Confirm</th>
            </tr>
            <% bookings.forEach(booking => { %>
                <% if (booking.status =="Ongoing") { %>
                    <tr>
                        <td> <%= booking._id %>  </td>
                        <td><%= booking.c_id.username %></td>
                        <td><%= booking.event %></td>
                        <td><%= booking.date.toLocaleDateString(); %></td> 
                        <td><%= booking.date.toLocaleTimeString(); %></td> 
                        <td><button onclick="completedbook(this)" id="complete" data-id="<%= booking._id %>">Done</button></td>

                    </tr>  
                <% } %>
            <% }) %>   
        </table>
    </div>

    <div id="Pending" class="spb2">

        <table>  
            <tr>
                <th>ID</th>
                <th>Customer</th>
                <th>Event</th>
                <th>Date</th>
                <th>Time</th>
                <th>Accept</th>
                <th>Reject</th>
            </tr>

            <% bookings.forEach(booking => { %>
                <% if (booking.status =="Pending") { %>
                    <tr>
                        <td> <%= booking._id %>  </td>
                        <td><%= booking.c_id.username %></td>
                        <td><%= booking.event %></td>
                        <td><%= booking.date.toLocaleDateString(); %></td> 
                        <td><%= booking.date.toLocaleTimeString(); %></td> 
                        <td><button onclick="acceptbook(this)" id="accept" data-id="<%= booking._id %>">Accept</button></td>
                        <td><button onclick="rejectbook(this)" id="reject" data-id="<%= booking._id %>">Reject</button></td>
                    </tr>  
                <% } %>
            <% }) %>
        </table>
    </div>

    <div id="Completed" class="spb2">
        <table>
            <tr>
                <th>ID</th>
                <th>Customer</th>
                <th>Event</th>
                <th>Date</th>
                <th>Time</th>
            </tr>

            <% bookings.forEach(booking => { %>
                <% if (booking.status =="Completed") { %> 
                    <tr>
                        <td> <%= booking._id %>  </td>
                        <td><%= booking.c_id.username %></td>
                        <td><%= booking.event %></td>
                        <td><%= booking.date.toLocaleDateString(); %></td> 
                        <td><%= booking.date.toLocaleTimeString(); %></td> 
                    </tr>
                <% } %>
            <% }) %>
        </table>
    </div>

    <div id="Rejected" class="spb2">
        <table>
            <tr>
                <th>ID</th>
                <th>Customer</th>
                <th>Event</th>
                <th>Date</th>
                <td>Time</td> 
            </tr>

            <% bookings.forEach(booking => { %>
                <% if (booking.status =="Rejected") { %>  
                    <tr>
                        <td> <%= booking._id %>  </td>
                        <td><%= booking.c_id.username %></td>
                        <td><%= booking.event %></td>
                        <td><%= booking.date.toLocaleDateString(); %></td> 
                        <td><%= booking.date.toLocaleTimeString(); %></td> 
                    </tr>
                <% } %>
            <% }) %>   
        </table>
    </div>  
</body>

<footer>
    <%- include('partials/footer'); %>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<script>

    spb2 = document.getElementsByClassName("spb2");
    for(i = 0; i < spb2.length; i++){
        spb2[i].style.display = "none";
    }

    function openBooking(evt, eventStatus){
        var i, spb2, spb1i;

        spb2 = document.getElementsByClassName("spb2");
        for(i = 0; i < spb2.length; i++){
            spb2[i].style.display = "none";
        }
        spb1i = document.getElementsByClassName("spb1i");
        for(i = 0; i < spb1i.length; i++){
            spb1i[i].className = spb1i[i].className.replace(" active", "");
        }
        document.getElementById(eventStatus).style.display = "block";
        evt.currentTarget.className += " active";
    }



    async function acceptbook(acc){
        var dataID = acc.getAttribute("data-id");
        var changed = "Ongoing";
        const data = await axios.patch(`/api/v1/service-provider/acceptAppoinments`,{dataID, changed})
    }    
    
    async function rejectbook(acc){
        var dataID = acc.getAttribute("data-id");
        var changed = "Rejected";
        const data = await axios.patch(`/api/v1/service-provider/rejectAppoinments`,{dataID, changed})
    }


    async function completedbook(acc){
        var dataID = acc.getAttribute("data-id");
        var changed = "Completed";
        const data = await axios.patch(`/api/v1/service-provider/rejectAppoinments`,{dataID, changed})
    }
    
    async function viewBuisnessPerformance(){
        const {data:{numberOfOngoingProvider, numberOfPendingProvider, numberOfCompletedProvider, numberOfRejectedProvider}} = await axios.get("/api/v1/service-provider/getBuisnessPerformance")
        document.getElementById("OA").innerHTML = numberOfOngoingProvider;
        document.getElementById("PA").innerHTML = numberOfPendingProvider;
        document.getElementById("CA").innerHTML = numberOfCompletedProvider;
        document.getElementById("RA").innerHTML = numberOfRejectedProvider;   
    }
    viewBuisnessPerformance()
  
</script>
</html>