<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Service Provider</title>
</head>

<header>
    <%- include('partials/header'); %>
</header>

<body>

   <div class="sp3">
        <div class="sp3-1"><button class="item"><img class="search1" src="/images/image 2.png" alt="profile"></button></div>
        <div class="sp3-1"> 
            <%=user.name%>
            <%=user.email%>
            <%= user.telephone %> 
        </div>
        <div class="sp3-1"></div>
        <div class="sp3-1"></div>
        <div class="sp3-1">
            <div class="bt">
                <% if (flag === "sp") { %>
                    <button id="edit"><img src="/images/Picture2.png" alt="Edit"></button>
                <% } %>    
            </div>
        </div>
   </div>

   <div class="sp2">
        <div class="sp2-1" id="desc-block">
            <h2>Description</h2>
            <p id="description"> 
                <%=user.description%>
            </p> 
        </div>
        <div class="sp2-1">
            <h2>About Provider</h2>
            <p id="about">
                <%=user.about%>
                <p class="sp2head"><%=user.name%> can plan events for:</p>
                <div class="sp3-1">
                    <% user.expertise.forEach(element => { %>
                     <p><%= element %> </p>
                    <% }) %>  
                </div>
            </p>
        </div>
        <div class="sp2-1">
            <h2>Photos</h2>
            <div class="pictures">
                <div class="pic"><img src="/images/event1.jpg" alt=""></div>
                <div class="pic"><img src="/images/event2.jfif" alt=""></div>
                <div class="pic"><img src="/images/event3.jpg" alt=""></div>
                <div class="pic"><img src="/images/event4.cms" alt=""></div>
                <div class="pic"><img src="/images/event5.png" alt=""></div>
                <div class="pic"><img src="/images/event6.jpg" alt=""></div>
            </div>
        </div>

        
        <div class="sp2-1">
            <h2>Ratings</h2>
            <p id="avg">
                <%= totalRating %> Reviews

                <span id="oneS" class="fas fa-star"></span>
                <span id="twoS" class="fas fa-star"></span>
                <span id="threeS" class="fas fa-star"></span>
                <span id="fourS" class="fas fa-star"></span>
                <span id="fiveS" class="fas fa-star"></span>

                <%= dpAvg %> 
            </p>
            
            <div class="progressBar">
                <table>
                    <tr>
                        <td>5 Stars</td>
                        <td><div class="progress">
                            <div id="five" class="progress-bar " role="progressbar" data-width="<%= fivestarPr %>" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only"></span>
                            </div>
                        </div></td>
                        <td>
                            (<%= fiveStar %>)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p>4 Stars</p>
                        </td>
                        <td>
                            <div class="progress">
                                <div id="four" class="progress-bar" role="progressbar" data-width="<%= fourstarPr %>" aria-valuemin="0" aria-valuemax="100">
                                  <span class="sr-only"></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p>(<%= fourStar %>)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>3 Stars</p>
                        </td>
                        <td>
                            <div class="progress">
                                <div id="three" class="progress-bar" role="progressbar" data-width="<%= threestarPr %>" aria-valuemin="0" aria-valuemax="100">
                                  <span class="sr-only"></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p>(<%= threeStar %>)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>2 Stars</p>
                        </td>
                        <td>
                            <div class="progress">
                                <div id="two" class="progress-bar" role="progressbar" data-width="<%= twostarPr %>" aria-valuemin="0" aria-valuemax="100">
                                  <span class="sr-only"></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p>(<%= twoStar %>)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>1 Stars</p>
                        </td>
                        <td>
                            <div class="progress">
                                <div id="one" class="progress-bar" role="progressbar" data-width="<%= onestarPr %> aria-valuemin="0" aria-valuemax="100">
                                  <span class="sr-only"></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p>(<%= oneStar %>)</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    
        <div class="sp2-1" id="comment-section">
            <h2>Comments</h2>
            <div class="comment">
                <div class="comment-header">
                    <div> 
                        <% if (flag === "sp") { %>
                            <% comments.forEach(comment => { %>
                                <div class="comment">
                                    <div class="comment-header">
                                        <img src="/images/image 2.png" alt="">
                                        <div class="comment-info">
                                            <h2 class="username"><%= comment.c_id.username %> </h2> 
                                            <h2 class="date"> 
                                                <span class="fa fa-star"> </span> <%= comment.rating  %> | <%= comment.date.toLocaleDateString(); %>
                                            </h2>
                                            
                                        </div>
                                    </div>
                                    <div class="comment-content"><%= comment.content %> </div> <br>
                                    <hr>
                                </div>
                            <% }) %>
                        <% } else { %>
                                <% comments.forEach(comment => { %>
                                    <div class="comment">
                                        <div class="comment-header">
                                            <img src="/images/image 2.png" alt="">
                                            <div class="comment-info">
                                                <h2 class="username"><%= comment.c_id.username %> </h2> 
                                                <h2 class="date"> 
                                                    <p><span class="fa fa-star"> </span> <%= comment.rating  %>   |   <%= comment.date.toLocaleDateString(); %></p>
                                                </h2>
                                                
                                            </div>
                                        </div>
                                        <div class="comment-content"><%= comment.content %> </div> <br>
                                        <hr>
                                    </div>
                                <% }) %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        
        <% if (flag === "cu") { %>
            <div class="sp2-11">
                <a href="/booking/<%= user._id %> "><button><h2>Book an Appoinment</h2></button></a>
            </div>
        <% } %> 
   </div>
   
</body> 

<footer>
    <%- include('partials/footer'); %>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<script>

    let description = document.getElementById("description")
    let about = document.getElementById("about")
    let edit = document.getElementById("edit")
    let schedule = document.getElementById("schedule")

    setWidth()
    overallRating()




    document.getElementById("edit").addEventListener("click", async() =>{
        if (description.style.display != "none" ){
            description.parentElement.appendChild(document.createElement("input")).setAttribute("id","description-input")
            document.getElementById("description-input").setAttribute("value",description.innerText);
            description.style.display = "none";

            about.parentElement.appendChild(document.createElement("input")).setAttribute("id","about-input")
            document.getElementById("about-input").setAttribute("value",about.innerText);
            about.style.display = "none";  
        }else{
            description.innerText = document.getElementById("description-input").value
            description.style.display = "block";
            description.parentElement.removeChild(document.getElementById("description-input"))
            const descriptionData = description.innerText

            about.innerText = document.getElementById("about-input").value
            about.style.display = "block";
            about.parentElement.removeChild(document.getElementById("about-input"))
            const aboutData = about.innerText
            const data = await axios.patch(`/api/v1/service-provider/updateProviderDetails`,{aboutData,descriptionData})
        }
    })   

    customerComments(acc)
    document.getElementById("schedule").addEventListener("click", async() =>{
        location.assign(`/service_provider_schedule`)
    });

    function setWidth () {
        const five = document.getElementById("five")
        const four = document.getElementById("four")
        const three = document.getElementById("three")
        const two = document.getElementById("two")
        const one = document.getElementById("one")

        five.style.width = five.dataset.width + "%";
        four.style.width = four.dataset.width + "%";
        three.style.width = three.dataset.width + "%";
        two.style.width = two.dataset.width + "%";
        one.style.width = one.dataset.width + "%";

    }

    function overallRating () {
        const avg = "<%- dpAvg %>"

        const oneStar = document.getElementById("oneS");
        const twoStar = document.getElementById("twoS");
        const threeStar = document.getElementById("threeS");
        const fourStar = document.getElementById("fourS");
        const fiveStar = document.getElementById("fiveS");


        if (avg < 1){
            oneStar.style.color = "FFF";
            twoStar.style.color = "FFF";
            threeStar.style.color = "FFF";
            fourStar.style.color = "FFF";
            fiveStar.style.color = "FFF";
        }else if (avg >= 1 & avg < 2) {
            oneStar.style.color = "FFE234";
        }else if (avg >= 2 & avg < 3){
            oneStar.style.color = "FFE234";
            twoStar.style.color = "FFE234";

        }else if (avg >=3 & avg < 4){
            oneStar.style.color = "FFE234";
            twoStar.style.color = "FFE234";
            threeStar.style.color = "FFE234";

        }else if (avg >= 4 & avg < 5){
            oneStar.style.color = "FFE234";
            twoStar.style.color = "FFE234";
            threeStar.style.color = "FFE234";
            fourStar.style.color = "FFE234";

        }else{
            oneStar.style.color = "FFE234";
            twoStar.style.color = "FFE234";
            threeStar.style.color = "FFE234";
            fourStar.style.color = "FFE234";
            fiveStar.style.color = "FFE234";

        }
    }

</script>
</html>