<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title>Service Provider</title>
</head>

<header>
    <%- include('partials/header'); %>
</header>

<body>

   <div class="sp3">
        <div class="sp3-1"><button class="item-4"><img class="search1" src="/images/image 2.png" alt="profile"></button></div>
        <div class="sp3-1">
            <%=user.name%>
            <%=user.email%>
            <%= user.telephone %> 
        </div>
        <div class="sp3-1"></div>
        <div class="sp3-1"></div>
        <div class="sp3-1">
            <div class="bt">
                <% if (flag === "sp") { %>
                    <button id="schedule"><img src="/images/Picture1.png" alt="Schedule"></button>
                    <button id="edit"><img src="/images/Picture2.png" alt="Edit"></button>
                <% } %>    
            </div>
        </div>
   </div>

   <div class="sp2">
        <div class="sp2-1" id="desc-block">
            <h2>Description</h2>
            <p id="description"> 
                <%=user.description%>
            </p> 
        </div>
        <div class="sp2-1">
            <h2>About Provider</h2>
            <p id="about">
                <%=user.about%>
            </p>
        </div>
        <div class="sp2-1">
            <h2>Photos</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="sp2-1">
            <h2>Ratings</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="sp2-1">
            <h2>Comments</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <% if (flag === "cu") { %>
            <div class="sp2-1">
                <h2>Book an Appoinment</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <a href="/booking"><button>Book Appoinment</button></a>
            </div>
        <% } %> 
   </div>
</body>

<footer>
    <%- include('partials/footer'); %>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<script>
    let description = document.getElementById("description")
    let about = document.getElementById("about")
    let edit = document.getElementById("edit")
    let schedule = document.getElementById("schedule")
    

    document.getElementById("edit").addEventListener("click", async() =>{
        if (description.style.display != "none" ){
            description.parentElement.appendChild(document.createElement("input")).setAttribute("id","description-input")
            document.getElementById("description-input").setAttribute("value",description.innerText);
            description.style.display = "none";

            about.parentElement.appendChild(document.createElement("input")).setAttribute("id","about-input")
            document.getElementById("about-input").setAttribute("value",about.innerText);
            about.style.display = "none";  
        }else{
            description.innerText = document.getElementById("description-input").value
            description.style.display = "block";
            description.parentElement.removeChild(document.getElementById("description-input"))
            const descriptionData = description.innerText

            about.innerText = document.getElementById("about-input").value
            about.style.display = "block";
            about.parentElement.removeChild(document.getElementById("about-input"))
            const aboutData = about.innerText
            const data = await axios.patch(`/api/v1/service-provider/updateProviderDetails`,{aboutData,descriptionData})
        }
    })   
    document.getElementById("schedule").addEventListener("click", async() =>{
        location.assign(`/service_provider_schedule`)
    })
    

</script>
</html>